* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

summary {
  display: block;
  outline: none;
}

summary::-webkit-details-marker {
  display: none;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.container-mini {
  margin-top: 48px;
  margin-bottom: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header {
  background-color: #222222;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__search {
  margin-left: 41px;
}

.header__icons:not(:last-child) {
  margin-right: 33px;
}

.header__search path,
.header__icons path {
  -webkit-transition: fill 0.5s ease;
  transition: fill 0.5s ease;
}

.header__search:hover path,
.header__icons:hover path {
  fill: #F16D7F;
}

.promo {
  background-color: #F1E4E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
}

.promo__img {
  width: 50%;
}

.promo__photo {
  width: 100%;
}

.promo__h1 {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.promo__h2 {
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}

.promo__h2_select {
  color: #F16D7F;
}

.promo__text {
  padding-top: 16%;
}

.promo__content {
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
}

.sale {
  padding-top: 64px;
  padding-bottom: 96px;
}

.sale__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.sale__item {
  position: relative;
  height: 260px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sale__img {
  max-width: 100%;
}

.sale__info {
  position: absolute;
  z-index: 1;
}

.sale__bottom {
  height: 180px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sale__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.sale__heading {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}

.products {
  margin-bottom: 96px;
}

.products__h2 {
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center;
  margin-bottom: 6px;
}

.products__description {
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  text-align: center;
  margin-bottom: 48px;
}

.products__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.products__card {
  width: 100%;
  max-width: 360px;
}

.products__picture {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products__img {
  max-width: 100%;
}

.products__hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(58, 56, 56, 0.86);
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products__picture:hover .products__hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products__info {
  background-color: #F8F8F8;
  padding: 25px 16px 20px 16px;
}

.products__heading {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.products__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-top: 12px;
}

.products__price {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  margin-top: 18px;
}

.products__price::before {
  content: '$';
}

.products__picture:hover .products__add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products__icon {
  margin-right: 12px;
}

.products__add {
  position: absolute;
  top: 188px;
  left: 111px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #FFFFFF;
  width: 139px;
  height: 44px;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.products__add:hover {
  color: #000000;
  background-color: #FFFFFF;
}

.products__add .products__icon path {
  -webkit-transition: fill 0.5s ease;
  transition: fill 0.5s ease;
}

.products__add:hover .products__icon path {
  fill: #000000;
}

.products__button {
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  background-color: #FFFFFF;
  border: 1px solid #FF6A6A;
  padding: 14px 38px 14px 38px;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.products__button:hover {
  color: #FFFFFF;
  background-color: #F16D7F;
}

.advantages {
  background-color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  padding-top: 104px;
  padding-bottom: 104px;
}

.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.advantages__heading {
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
  margin-top: 28px;
}

.advantages__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
  max-width: 360px;
  margin-top: 16px;
}

.subscribe {
  background-image: url("../img/sub/sub_back.jpg");
  background-size: cover;
  background-position: center bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 97px;
  padding-bottom: 126px;
}

.subscribe__left, .subscribe__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__right {
  padding-top: 53px;
}

.subscribe__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__photo {
  width: 96px;
  height: 96px;
  margin-bottom: 30px;
}

.subscribe__quote {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222222;
  max-width: 360px;
}

.subscribe__heading {
  font-weight: bold;
  font-size: 24px;
  line-height: 167%;
  text-align: center;
  color: #222222;
}

.subscribe__text {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #222222;
}

.subscribe__form {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe__input {
  width: 256px;
  height: 49px;
  color: #222222;
  background-color: #E1E1E1;
  border-radius: 25px 0 0 25px;
  border: none;
  opacity: 0.67;
  font-size: 14px;
  line-height: 17px;
  padding: 0 22px;
}

.subscribe__button {
  width: 100px;
  height: 49px;
  border: none;
  border-radius: 0 25px 25px 0;
  color: #FFFFFF;
  background-color: #F16D7F;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.subscribe__button:hover {
  background-color: #e05c6e;
}

.footer {
  background-color: #222222;
  height: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__copyright {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
}

.footer__icons {
  width: 32px;
  height: 32px;
  color: #000000;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.footer__icons:hover {
  color: #FFFFFF;
  background-color: #F16D7F;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sort__summary {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.sort__icon {
  margin-left: 10px;
  margin-right: 28px;
}

.breadcrumbs {
  height: 148px;
  background-color: #F8F3F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumbs__heading {
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.breadcrumbs__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.breadcrumbs__link {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.breadcrumbs__link:hover {
  color: #F16D7F;
}

.breadcrumbs__list:not(:last-child)::after {
  content: '/';
  margin-left: 8px;
  margin-right: 8px;
}

.breadcrumbs__list:last-child a {
  font-weight: 700;
  color: #F16D7F;
}

.pagination {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  border: 1px solid #EBEBEB;
  border-radius: 5px;
  padding: 15px 16px 15px 16px;
}

.pagination__list {
  margin-left: 10px;
  margin-right: 10px;
}

.pagination__link {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #636363;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.pagination__link_select {
  color: #EF5B70;
}

.pagination__link:hover {
  color: #EF5B70;
}

.pagination__link path {
  -webkit-transition: fill 0.5s ease;
  transition: fill 0.5s ease;
}

.pagination__link:hover path {
  fill: #EF5B70;
}

.filter-sort {
  padding-top: 51px;
  padding-bottom: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sort_top {
  padding-top: 13px;
}

.filter {
  margin-right: 30px;
  position: relative;
  width: 360px;
}

.filter__summary {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding-right: 11px;
  cursor: pointer;
}

.filter__details {
  padding: 13px 16px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.filter__details[open] {
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.filter__details[open] .filter__summary {
  color: #F16D7F;
}

.filter__details[open] path {
  fill: #F16D7F;
}

.filter__details-in {
  margin-top: 16px;
}

.filter__details-in[open] .filter__heading-in {
  color: #F16D7F;
}

.filter__summary-in {
  border-left: 5px solid #F16D7F;
}

.filter__heading-in {
  padding: 8px 0 11px 11px;
  font-size: 14px;
  line-height: 17px;
  display: block;
  color: #6F6E6E;
  border-bottom: 1px solid #EBEBEB;
  cursor: pointer;
}

.filter__ul {
  list-style-type: none;
  padding-left: 17px;
  padding-top: 24px;
}

.filter__ul li:not(:last-child) {
  margin-bottom: 11px;
}

.filter__ul li:last-child {
  margin-bottom: 24px;
}

.filter__ul a {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.product_margin {
  margin-top: 128px;
  margin-bottom: 128px;
}

.slider {
  height: 777px;
  background-color: #F7F7F7;
  border: 1px solid #EAEAEA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__img {
  margin-top: 10px;
  margin-bottom: 41px;
}

.slider__link {
  padding: 12px 17px 12px 17px;
  background: rgba(42, 42, 42, 0.15);
}

.slider__link path {
  -webkit-transition: fill 0.5s ease;
  transition: fill 0.5s ease;
}

.slider__link:hover path {
  fill: #F16D7F;
}

.content {
  position: relative;
  background-color: #FFFFFF;
  border: 1px solid #EAEAEA;
  padding-top: 64px;
  padding-bottom: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content_mt {
  margin-top: -65px;
}

.content__h3 {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.content__short-line {
  width: 63px;
  height: 3px;
  background-color: #F16D7F;
  margin-top: 12px;
  margin-bottom: 12px;
}

.content__h2 {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
}

.content__text {
  max-width: 554px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5E5E5E;
  text-align: center;
  margin-top: 48px;
  margin-bottom: 32px;
}

.content__price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.content__price::before {
  content: '$';
}

.content__long-line {
  width: 642px;
  height: 1px;
  background-color: #EAEAEA;
  margin-top: 64px;
  margin-bottom: 64px;
}

.content__button {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  background-color: #FFFFFF;
  border: 1px solid #F16D7F;
  padding: 14px 23px 14px 23px;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.content__button:hover {
  color: #FFFFFF;
  background-color: #F16D7F;
}

.content__icon {
  margin-right: 23px;
}

.content__button .content__icon path {
  -webkit-transition: fill 0.5s ease;
  transition: fill 0.5s ease;
}

.content__button:hover .content__icon path {
  fill: #FFFFFF;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 96px;
  margin-bottom: 128px;
}

.cart__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cart__item {
  max-width: 652px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
          box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}

.cart__item:not(:first-child) {
  margin-top: 40px;
}

.cart__close {
  position: absolute;
  z-index: 1;
  top: 28px;
  right: 22px;
  cursor: pointer;
}

.cart__picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 262px;
}

.cart__img {
  max-width: 100%;
}

.cart__info {
  padding: 22px 97px 62px 32px;
}

.cart__heading {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  max-width: 262px;
  margin-bottom: 42px;
}

.cart__text {
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  margin-bottom: 6px;
}

.cart__price {
  color: #F16D7F;
}

.cart__price::before {
  content: '$';
}

.cart__label {
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  margin-right: 24px;
}

.cart__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 44px;
  height: 25px;
  color: #656565;
  border: 1px solid #EAEAEA;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding: 2px;
}

.cart__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 185px;
  margin-top: 72px;
}

.cart__button {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: 1px solid #A4A4A4;
  padding: 16px 40px;
  cursor: pointer;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.cart__button:hover {
  color: #FFFFFF;
  background-color: #F16D7F;
  border: 1px solid #FF6A6A;
}

.cart__address {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20px;
}

.cart__input-text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 360px;
  height: 45px;
  border: 1px solid #A4A4A4;
  padding: 13px 16px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-bottom: 20px;
}

.cart__button_small {
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  border: 1px solid #A4A4A4;
  padding: 10px 14px;
  cursor: pointer;
  margin-top: 4px;
  margin-bottom: 58px;
}

.cart__button_small:hover {
  color: #FFFFFF;
  background-color: #F16D7F;
  border: 1px solid #FF6A6A;
}

.cart__total {
  padding: 40px 44px 60px 44px;
  background: #F5F3F3;
}

.cart__sub-total {
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  text-align: right;
  margin-bottom: 12px;
}

.cart__price_st {
  margin-left: 20px;
}

.cart__price_st::before {
  content: '$';
}

.cart__price_gt {
  margin-left: 20px;
  color: #F16D7F;
}

.cart__price_gt::before {
  content: '$';
}

.cart__grand-total {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  text-align: right;
}

.cart__line {
  width: 275px;
  height: 1px;
  background: #E2E2E2;
  margin-top: 21px;
  margin-bottom: 32px;
}

.cart__button-buy {
  color: #FFFFFF;
  background-color: #F16D7F;
  border: none;
  padding: 16px 42px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
  margin-bottom: 40px;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.cart__button-buy:hover {
  background-color: #e05c6e;
}

.reg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 128px;
  margin-top: 64px;
  margin-bottom: 96px;
}

.reg__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.reg__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.reg__label {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.reg__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 360px;
  height: 45px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  border: 1px solid #A4A4A4;
  padding: 12px 16px;
  margin-top: 20px;
}

.reg__sex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 31px;
  margin-bottom: 33px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

.reg__radio-span {
  margin-left: 10px;
  margin-right: 20px;
}

.reg__text-left {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-top: 15px;
  max-width: 360px;
}

.reg__button {
  margin-top: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background-color: #F16D7F;
  border: 1px solid #F16D7F;
  padding: 16px 24px 16px 24px;
  cursor: pointer;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.reg__button:hover {
  color: #F16D7F;
  background-color: #FFFFFF;
}

.reg__icon {
  margin-left: 20px;
}

.reg__button .reg__icon path {
  -webkit-transition: fill 0.5s ease;
  transition: fill 0.5s ease;
}

.reg__button:hover .reg__icon path {
  fill: #F16D7F;
}

.reg__h3 {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.reg__text-right {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-top: 22px;
  margin-bottom: 22px;
}

.reg__ul {
  list-style-type: none;
}

.reg__list {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 16px;
}

.reg__icon-list {
  margin-right: 23px;
  margin-left: 0;
}
/*# sourceMappingURL=style.css.map */